.container {
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid black;
	display: flex;
    flex-direction: row;
}

.column-1 {
	margin: 5px;
	font-size: 1em;
    flex-grow: 1;
}

.column-2 {
	margin: 5px;
	font-size: 1em;
    flex-grow: 2;
    display: flex;
}

.items {
    justify-content: flex-end;
    text-align: end;
}

.item {
    flex: 1;
    margin: 10px 5px;
}

.button-menu {
    display: none;
}

.active {
    display: block !important;
}

@media (max-width: 550px) {

    .items {
        flex-direction: column;
    }

    .item-menu {
        display: none;
    }

    .button-menu {
        display: block;
        margin: 10px 15px;
        cursor: pointer;
    }
}